n8n-workflows/workflow-3-quotation-received.json
{
  "name": "Workflow 3: Quotation Received — Email Procurement & Engineer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quotation-submitted",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-quotation-submitted",
      "name": "Webhook: Quotation Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "quotation-submitted"
    },
    {
      "parameters": {
        "fromEmail": "noreply@thyssenkrupp.com",
        "toEmail": "={{ $json.body.procurementEmail }}",
        "subject": "=Quotation Received from {{ $json.body.supplierName }} – RFQ {{ $json.body.rfqId }}",
        "emailFormat": "html",
        "message": "=<h2>Quotation Received</h2>\n<p><strong>Supplier:</strong> {{ $json.body.supplierName }}</p>\n<p><strong>RFQ ID:</strong> {{ $json.body.rfqId }}</p>\n<p><strong>Total Price:</strong> €{{ $json.body.totalPrice }}</p>\n<hr>\n<p>Review the quotation in the <a href='{{ $env.APP_URL }}/'>Procurement Dashboard</a>.</p>"
      },
      "id": "email-procurement",
      "name": "Email Procurement",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@thyssenkrupp.com",
        "toEmail": "={{ $json.body.engineerEmail }}",
        "subject": "=Quotation Update: {{ $json.body.supplierName }} submitted – RFQ {{ $json.body.rfqId }}",
        "emailFormat": "html",
        "message": "=<h2>New Quotation Submitted</h2>\n<p><strong>Supplier:</strong> {{ $json.body.supplierName }}</p>\n<p><strong>RFQ ID:</strong> {{ $json.body.rfqId }}</p>\n<p><strong>Total Price:</strong> €{{ $json.body.totalPrice }}</p>\n<p>The procurement team has been notified and will review this quotation.</p>"
      },
      "id": "email-engineer",
      "name": "Email Engineer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "email_logs",
        "columns": "recipient_email, recipient_role, email_type, request_id, subject, status",
        "additionalFields": {
          "recipient_email": "={{ $json.body.procurementEmail }}",
          "recipient_role": "procurement",
          "email_type": "quotation_received",
          "request_id": "={{ $json.body.rfqId }}",
          "subject": "=Quotation Received from {{ $json.body.supplierName }} – RFQ {{ $json.body.rfqId }}",
          "status": "sent"
        }
      },
      "id": "log-procurement-email",
      "name": "Log Procurement Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "email_logs",
        "columns": "recipient_email, recipient_role, email_type, request_id, subject, status",
        "additionalFields": {
          "recipient_email": "={{ $json.body.engineerEmail }}",
          "recipient_role": "engineer",
          "email_type": "quotation_received",
          "request_id": "={{ $json.body.rfqId }}",
          "subject": "=Quotation Update: {{ $json.body.supplierName }} submitted – RFQ {{ $json.body.rfqId }}",
          "status": "sent"
        }
      },
      "id": "log-engineer-email",
      "name": "Log Engineer Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notifications",
        "columns": "id, role, rfq_id, supplier_id, title, message, type, read",
        "additionalFields": {
          "id": "=not-quot-{{ $json.body.rfqId }}-{{ $json.body.supplierId }}-{{ $now.toMillis() }}",
          "role": "procurement",
          "rfq_id": "={{ $json.body.rfqId }}",
          "supplier_id": "={{ $json.body.supplierId }}",
          "title": "=Quotation from {{ $json.body.supplierName }}",
          "message": "={{ $json.body.supplierName }} submitted a quotation of €{{ $json.body.totalPrice }}",
          "type": "quote",
          "read": false
        }
      },
      "id": "notify-procurement",
      "name": "Real-time Notification",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook: Quotation Submitted": {
      "main": [
        [
          { "node": "Email Procurement", "type": "main", "index": 0 },
          { "node": "Email Engineer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email Procurement": {
      "main": [[{ "node": "Log Procurement Email", "type": "main", "index": 0 }]]
    },
    "Email Engineer": {
      "main": [[{ "node": "Log Engineer Email", "type": "main", "index": 0 }]]
    },
    "Log Procurement Email": {
      "main": [[{ "node": "Real-time Notification", "type": "main", "index": 0 }]]
    },
    "Log Engineer Email": {
      "main": [[{ "node": "Real-time Notification", "type": "main", "index": 0 }]]
    },
    "Real-time Notification": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["quotation", "email", "procurement", "engineer"],
  "meta": {
    "description": "Triggered when a supplier submits a quotation. Emails both Procurement and the Engineer, logs both emails, and inserts a real-time notification."
  }
}
